/*☆ this is so cleannnnnn ☆*/
body {
  margin: 25px;
  background-color: #291814;
  font-family: Verdana, sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
  color: #FFE5B4; 
  text-align: center;
}

p {
  font-size: 20px;
  font-weight: normal;
  margin-top: 5px;
  color: #FFE5B4; 
  text-align: center;
}

b {
  font-size: 20px;
  font-weight: normal;
  margin-top: 5px;
  color: #FFE5B4; 
  text-align: center;
}

a {
  font-size: 20px;
  font-weight: normal;
  margin-top: 5px;
  color: #FFE5B4; 
  text-align: center;
}

button {
  background-color: #A59079;
  border-radius: 12px;
  border: none;
  color: #FFE5B4;
  padding: 10px 28px;
  font-size: 20px;
  text-align: center;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgb(255, 229, 180), 0 17px 50px 0 rgb(165, 144, 121);
}

button:active {
  transform: scale(.8);
}

.wrong { color: red; }
.correct { color: green; }
