  body {background-color: Black;}
  h1   {color: #FFE5B4; text-align: center;}
  p    {color: #FFE5B4; text-align: center;}
  b    {color: #FFE5B4; text-align: center;}
  h3   {color: #FFE5B4; text-align: center;}
  h2   {color: #FFE5B4; text-align: center;}
  b    {color: #FFE5B4; text-align: center;}
  i    {color: #FFE5B4; text-align: center;}
  a    {color: #FFE5B4; text-align: center;}
