/*☆ guided tour ☆*/
body {
  margin: 25px; 
  padding: 10px 28px; /*this changes how close items can get to the edge of the screen*/
  background-color: #11111b; /*this changes the bg color*/
  font-family: Verdana, sans-serif; /* this changes the font */
  font-size: 14px;
}

h1 { /*title text, used for the starg3n text on homepage*/
  font-size: 35px;
  font-weight: normal; /*not bold or italic*/
  margin-top: 5px;
  color: #c6d0f5; /*color*/
  text-align: center; /*align it to the center*/
}

p { /* normal text, used in the update logs and other places*/
  font-size: 20px;
  font-weight: normal; /*not bold or italic*/
  margin-top: 5px;
  color: #c6d0f5; /*color*/
  text-align: center; /*align it to the center*/
}

a:hover {
  transform: scale(1.2)
}

b { /*bold text. I don't know if this is used.*/
  font-size: 20px; 
  font-weight: normal; /*not bold or italic*/
  margin-top: 5px;
  color: #c6d0f5; /*color*/
  text-align: center; /*align to center*/
}

a { /*links. a button must be INSIDE a link to work as it does*/
  font-size: 20px;
  font-weight: normal;
  margin-top: 5px;
  color: #8caaee; /*color*/
  text-align: center; /*align it to center*/
}

button {
  background-color: #51576d; /*background color*/
  border-radius: 12px;
  border: none; /*border around button*/
  color: #c6d0f5; /* text color */
  padding: 10px 28px; /*how close can text get to edge*/
  font-size: 20px;
  text-align: center; /*align it to center*/
}

button:hover {
  /*basically this makes the button get a shadow in rgb format, and grows the button by 1.2%*/
  box-shadow: 0 12px 16px 0 rgb(41,44,60), 0 17px 50px 0 rgb(41,44,60); /* this was copy and pasted from another site */
  transform: scale(1.2) /*grow a little bit*/
}

button:active {
  transform: scale(.8); /* make button smaller on click */
  /*this isn't very noticable lol*/
}


/* THESE ARE FOR PICOMANAGER */
html, body {
  height: 100%;
}

.wrapper { /*I honestly don't know what these do, all I did for picomanager was update the pico-8 version to the latest(?) version*/
  margin: 0px;
  padding: 0px;
  height: 100%;
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

canvas { /*again, don't know.*/
  border: 0px;
  width: 512px;
  height: 512px;
  background: black;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

/*END OF PICOMANAGER*/

.navbar { /*this was an old, unused relic of early starg3n. I was thinking of the idea of a seperate page for games, with a navbar to navigate the site. i decided against it.*/
  background-color: #FFE5B4;
  margin: auto;
  width: 50%;
  border: none;
  padding: 10px 28px;
  text-align: center;
  padding: 10px 28px;
}
